## Datetime

In [75]:
import datetime

In [76]:
# Listing all functions in datetime module
dir(datetime)

['MAXYEAR',
 'MINYEAR',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'date',
 'datetime',
 'datetime_CAPI',
 'sys',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

In [77]:
from datetime import datetime

In [78]:
dir(datetime)

['__add__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'astimezone',
 'combine',
 'ctime',
 'date',
 'day',
 'dst',
 'fold',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'now',
 'replace',
 'resolution',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'today',
 'toordinal',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'weekday',
 'year']

In [79]:
today = datetime.now()
 
print("Current date and time is", today)

Current date and time is 2022-07-30 17:03:50.870812

In [80]:
a = datetime(2022, 7, 30)
print(a)

2022-07-30 00:00:00

In [81]:
a = datetime(2022, 7, 30, 16, 31, 48)
 
print("year =", a.year)
print("month =", a.month)
print("day =", a.day)
print("hour =", a.hour)
print("minute =", a.minute)
print("second =", a.second)
print("timestamp =", a.timestamp())

year = 2022
month = 7
day = 30
hour = 16
minute = 31
second = 48
timestamp = 1659169908.0

In [82]:
# Defining start and end time
start_time = datetime(2022, 5, 30, 9, 15)
end_time = datetime(2022, 7, 30, 9, 45)

In [83]:
# Difference between two times in seconds
diff = end_time - start_time
print(diff)

61 days, 0:30:00

In [84]:
from datetime import timedelta
 
# Using current time
today = datetime.now()
 
# printing initial_date
print("today date ", today)
 
# Calculating future dates for two years
future = today + timedelta(days=730)
print("future date ", future)

today date  2022-07-30 17:05:16.513845
future date  2024-07-29 17:05:16.513845

## Date

In [85]:
from datetime import date

In [86]:
today = date.today()
 
print("Today's date is", today)
print("Current year:", today.year)
print("Current month:", today.month)
print("Current day:", today.day)

Today's date is 2022-07-30
Current year: 2022
Current month: 7
Current day: 30

## Time

In [87]:
from datetime import time

In [88]:
Time = time(11, 34, 56)
 
print("Entered time", Time )

Entered time 11:34:56

In [89]:
print("hour =", Time.hour)
print("minute =", Time.minute)
print("second =", Time.second)
print("microsecond =", Time.microsecond)

hour = 11
minute = 34
second = 56
microsecond = 0

## Timezone

In [90]:
from pytz import timezone

In [91]:
now = datetime.now()
print(now)

2022-07-30 17:06:20.373346

In [92]:
now_utc = datetime.now(timezone('Asia/Singapore'))
print(now_utc)

2022-07-30 17:06:37.387236+08:00

In [93]:
now_utc = datetime.now(timezone('America/New_York'))
print(now_utc)

2022-07-30 05:06:51.569948-04:00

## OHLC Data

In [94]:
import yfinance as yf
from datetime import datetime

In [95]:
# Defining start and end time
start = datetime(2020, 1, 1)
end = datetime(2022, 7, 30)

In [96]:
data = yf.download('MSFT',start=start,end=end)
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-12-31,156.770004,157.770004,156.449997,157.699997,154.071564,18369400
2020-01-02,158.779999,160.729996,158.330002,160.619995,156.924377,22622100
2020-01-03,158.320007,159.949997,158.059998,158.619995,154.970444,21116200
2020-01-06,157.080002,159.100006,156.509995,159.029999,155.370987,20813700
2020-01-07,159.320007,159.669998,157.320007,157.580002,153.954361,21634100
...,...,...,...,...,...,...
2022-07-25,261.000000,261.500000,256.809998,258.829987,258.829987,21056000
2022-07-26,259.859985,259.880005,249.570007,251.899994,251.899994,39348000
2022-07-27,261.160004,270.049988,258.850006,268.739990,268.739990,45994000
2022-07-28,269.750000,277.839996,267.869995,276.410004,276.410004,33459300
2022-07-29,277.700012,282.000000,276.630005,280.739990,280.739990,32129400